<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>todo</title>
    <link rel="stylesheet" href="assets/base.css">
    <link rel="stylesheet" href="assets/index.css">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>

  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <input class="new-todo"
             v-model="newTodoRecord"
             @keyup.enter="createTodo"
             placeholder="What needs to be done?"
             autofocus>
    </header>

    <section class="main">
      <ul class="todo-list">
        <!--observe ":class" to dynamically change class depending on whether todo == editedTodo evaluates to true-->
        <!--todo: define helper for :class-->
        <li v-for="todo in todos"
            :class="{editing: todo == editedTodo}">
          <div class="view">
            <input class="toggle" type="checkbox" v-model="todo.completed" />
            <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
            <button class="destroy" @click="deleteTodo(todo)"></button>
          </div>
          <input class="edit" type="text"
                 v-model="todo.title"
                 @blur="doneEdit(todo)"
                 @keyup.enter="doneEdit(todo)"/>
        </li>
      </ul>
    </section>
    <input class="toggle-all" id="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list"></ul>

    <footer class="footer"></footer>
  </section>

  <footer class="info"></footer>

  <script src="main.js"></script>
  </body>
</html>
